# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml 'starbound/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {},
        'RedHat': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('starbound:lookup'))
%}
{% do default_settings.starbound.update(os_family_map) %}

{% set starbound = salt['pillar.get'](
        'starbound',
        default=default_settings.starbound,
        merge=True
    )
%}
